<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Olá <%= @user.name %>!</p>
    <p>
    Seja Bem vindo a nossa plataforma.<br>    
    Acesse: http://lotoapp.infinitysolutionsapp.com <br>  
    com o e-mail: <%= @user.email %> e <br/> 
    senha: <%= @user.password %><br> 
    e comece a fazer seus jogos.
    </p>
  </body>
</html>